In [13]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [14]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [15]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [16]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [17]:
# reflect an existing database into a new model

Base = automap_base()

# reflect the tables

Base.prepare(engine, reflect=True)

In [18]:
# View all of the classes that automap found

Base.classes.keys()

['measurement', 'station']

In [19]:
# Save references to each table

measurement = Base.classes.measurement
station = Base.classes.station

In [20]:
# Create our session (link) from Python to the DB

from sqlalchemy.orm import Session
session = Session(bind=engine)

# Exploratory Precipitation Analysis

In [22]:
# Find the most recent date in the data set.

mostrecent = measurement[date].max()
mostrecent

NameError: name 'date' is not defined

In [23]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 


inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [24]:
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [25]:
columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [26]:
# Starting from the most recent data point in the database. 

mostrecent = session.query(measurement.date).order_by(measurement.date.desc()).first()
mostrecent

('2017-08-23')

In [27]:
# Calculate the date one year from the last date in data set.

oneyearfrom = '2016-08-23'

# Perform a query to retrieve the data and precipitation scores

datascores = session.query(measurement.date, measurement.prcp)
datascores

# Save the query results as a Pandas DataFrame and set the index to the date column

datascore_df = pd.DataFrame(datascores, columns=['Date', 'Precipitation'])
datascore_df.head()

         Date  Precipitation
0  2010-01-01           0.08
1  2010-01-02           0.00
2  2010-01-03           0.00
3  2010-01-04           0.00
4  2010-01-06            NaN

In [35]:
# Use Pandas Plotting with Matplotlib to plot the data

datascoreplot = pd.DataFrame(datascore_df, columns=['Date', 'Precipitation])
df.set_index('data', inplace=True)
df.plot.bar()
plt.tight_layout()
plt.show()

SyntaxError: EOL while scanning string literal (<ipython-input-35-c2c4665aa79c>, line 3)

In [30]:
# Use Pandas to calcualte the summary statistics for the precipitation data

datascore_df.describe()

       Precipitation
count   18103.000000
mean        0.160644
std         0.468746
min         0.000000
25%         0.000000
50%         0.010000
75%         0.110000
max        11.530000

# Exploratory Station Analysis

In [37]:
# Design a query to calculate the total number stations in the dataset

numstation = session.query(station.id).count()
numstation

9

In [42]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)

# List the stations and the counts in descending order.

activestations = session.query(measurement.station, func.count(measurement.station).group_by(measurement.station)
                               
activestations

SyntaxError: invalid syntax (<ipython-input-42-8c4a2966b8ec>, line 4)

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()